<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="https://github.com/sumyvbaby/covid-waste-water-project/blob/gh-pages/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://ewallace.github.io/assets/themes/lab/css/style.css?body=1" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
  <div class="columns">
    <div class="column">
      <a href="https://twitter.com/COVIDPoops19"><i class="fa fa-external-link"></i> Tweeting/retweeting all things wastewater & SARS-CoV-2</a>  
      <br>
      <br>
      <a href="https://ucmerced.maps.arcgis.com/apps/dashboards/c778145ea5bb4daeb58d31afee389082"><i class="fa fa-external-link"></i> Summary of Global SARS-CoV-2 Wastewater Monitoring Efforts by UC Merced Researchers</a>
      
    </div>
    <div class="column">
      <a href="https://sphere.waterpathogens.org/"><i class="fa fa-external-link"></i> Waste water SARS Public Health Environmental Response, or W-SPHERE</a>  
      <br>
      <br>
      <a href="https://www.gov.uk/government/collections/monthly-statistics-for-the-environmental-monitoring-for-health-protection-emhp-wastewater-program-england"><i class="fa fa-external-link"></i> Monthly statistics for the Environmental Monitoring for Health Protection (EMHP) wastewater program (England)</a>
      
    </div>
    <div class="column">
      <a href="https://www.gov.scot/collections/coronavirus-covid-19-modelling-the-epidemic/"><i class="fa fa-external-link"></i> Coronavirus (COVID-19): modelling the epidemic - Scotland</a>
      <br>
      <br>
      <a href="https://www.gov.scot/collections/coronavirus-covid-19-modelling-the-epidemic/"><i class="fa fa-external-link"></i> Coronavirus (COVID-19): modelling the epidemic - Scotland</a>
      <br>
      <br>
      <br>
    </div>
    
  </div>
</body>
</html>
  

