<link rel="stylesheet" type="text/css" href="style.css">
<div class="columns">
  <div class="column">
    <a href="https://twitter.com/COVIDPoops19">Tweeting/retweeting all things wastewater</a>
    <a href="https://twitter.com/COVIDPoops19">Tweeting/retweeting all things wastewater</a>
    <a href="https://twitter.com/COVIDPoops19">Tweeting/retweeting all things wastewater</a>
    <a href="https://twitter.com/COVIDPoops19">Tweeting/retweeting all things wastewater</a>
  </div>
  <div class="column">
    Column 2
  </div>
  <div class="column">
    Column 3
  </div>
</div>
