<link rel="stylesheet" type="text/css" href="https://github.com/sumyvbaby/covid-waste-water-project/blob/gh-pages/assets/css/style.css">
<div class="topnav">
  <a class="active" href=".">Home</a>
  <a href="#Datafromsepa">Data from SEPA</a>
  <a href="#Methodsdevelopment">Methods development</a>
  <a href="#Monitoringinwastewater">Monitoring in waste water</a>
  <a href="#Partners">Partners</a>
  <a href="#Prevalanceinwastewater">Prevalance in waste water</a>
  <a href="#Protocols">Protocols</a>
</div>
